
  /* CASMISAS lOUIS VUITTON */ 
 
.LV-1{
    transition: transform 0.3s ease-in-out ;  
   } 
   .LV-1:hover{
       transform: scale(1.2); 
   }
   .LV-2{
       transition: 0.3s ease-in-out;
    }
   .LV-2:hover{
       transform: scale(1.2);
   }
   .LV-3{
       transition: 0.3s ease-in-out;
    }
   .LV-3:hover{
       transform: scale(1.2);
   }
   .LV-4{
       transition: 0.3s ease-in-out;
    }
   .LV-4:hover{
       transform: scale(1.2);
   }
   .LV-5{
       transition: 0.3s ease-in-out;
    }
   .LV-5:hover{
       transform: scale(1.2);
   }
   .LV-6{
       transition: 0.3s ease-in-out;
    }
   .LV-6:hover{
       transform: scale(1.2);
   }
   
  /* CASMISAS VERSACE */ 
 
   .VSC-1{
    transition: transform 0.3s ease-in-out ;  
   } 
   .VSC-1:hover{
       transform: scale(1.2); 
   }
   .VSC-2{
       transition: 0.3s ease-in-out;
    }
   .VSC-2:hover{
       transform: scale(1.2);
   }
   .VSC-3{
       transition: 0.3s ease-in-out;
    }
   .VSC-3:hover{
       transform: scale(1.2);
   }
   .VSC-4{
       transition: 0.3s ease-in-out;
    }
   .VSC-4:hover{
       transform: scale(1.2);
   }
   .VSC-5{
       transition: 0.3s ease-in-out;
    }
   .VSC-5:hover{
       transform: scale(1.2);
   }
   .VSC-6{
       transition: 0.3s ease-in-out;
    }
   .VSC-6:hover{
       transform: scale(1.2);
   }

  /* CASMISAS BURBERRY */ 
 
   .BRB-1{
    transition: transform 0.3s ease-in-out ;  
   } 
   .BRB-1:hover{
       transform: scale(1.2); 
   }
   .BRB-2{
       transition: 0.3s ease-in-out;
    }
   .BRB-2:hover{
       transform: scale(1.2);
   }
   .BRB-3{
       transition: 0.3s ease-in-out;
    }
   .BRB-3:hover{
       transform: scale(1.2);
   }
   .BRB-4{
       transition: 0.3s ease-in-out;
    }
   .BRB-4:hover{
       transform: scale(1.2);
   }
   .BRB-5{
       transition: 0.3s ease-in-out;
    }
   .BRB-5:hover{
       transform: scale(1.2);
   }
   .BRB-6{
       transition: 0.3s ease-in-out;
    }
   .BRB-6:hover{
       transform: scale(1.2);
   }

  /* CASMISAS FOX */ 
 
   .FOX-1{
    transition: transform 0.3s ease-in-out ;  
   } 
   .FOX-1:hover{
       transform: scale(1.2); 
   }
   .FOX-2{
       transition: 0.3s ease-in-out;
    }
   .FOX-2:hover{
       transform: scale(1.2);
   }
   .FOX-3{
       transition: 0.3s ease-in-out;
    }
   .FOX-3:hover{
       transform: scale(1.2);
   }
   .FOX-4{
       transition: 0.3s ease-in-out;
    }
   .FOX-4:hover{
       transform: scale(1.2);
   }
   .FOX-5{
       transition: 0.3s ease-in-out;
    }
   .FOX-5:hover{
       transform: scale(1.2);
   }
   .FOX-6{
       transition: 0.3s ease-in-out;
    }
   .FOX-6:hover{
       transform: scale(1.2);
   }
